# Ignore Terraform state files
*.tfstate
*.tfstate.backup
*.tfstate.*
# Ignore .terraform directory (local caches and modules)
.terraform/

imports.tf.txt

**/service_accounts_keyfiles/*
**/test_read_masked_data.py

**/__pycache__/*

