# Ignore Terraform state files
*.tfstate
*.tfstate.backup
*.tfstate.*
# Ignore .terraform directory (local caches and modules)
.terraform/
.terraform.lock.hcl

imports.tf.txt

**/service_accounts_keyfiles/*
**/test_read_masked_data.py

**/__pycache__/helpers.cpython-311.pyc
**/create_tables.py
test.py
*.DS_Store
**/.DS_Store

**/schemas/rahalaitos/upstream
**/schemas/salus/incremental
**/output.txt
output.txt

**/sensitive_fields_detector_service/utils/__pycache__